server:
  port: 6001

spring:
#  profiles:
#    active:
  devtools:
    restart:
      trigger-file: trigger.txt
  redis:
    database: 2
    host: 127.0.0.1
    port: 6379
    timout: 3000
    pool:
      max-idle: 200
      min-idle: 200
      max-active: 2000
      max-wait: 1000

switch:
  scheduleSwitcher: false

